---
- hosts: all
  become: yes
  become_user: root
  become_method: sudo

  vars:
    hosts_entries:
      - "172.16.1.100 kube-master"
      - "172.16.1.101 kube-node1"
      - "172.16.1.102 kube-node2"
      - "172.16.1.103 kube-infra"
      - "172.16.1.202 docker-registry"

    containerd_modules:
      - overlay
      - br_netfilter

    sysctl_params:
      - net.bridge.bridge-nf-call-ip6tables = 1
      - net.bridge.bridge-nf-call-iptables = 1
      - net.ipv4.ip_forward = 1

    common_packages:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg2
      - software-properties-common
      - mysql-client
      - nfs-common
      - snapd
      - git
      - vim

  tasks:

    - name: Configura /etc/hosts
      lineinfile:
        path: /etc/hosts
        line: "{{ item }}"
      loop: "{{ hosts_entries }}"

    - name: Remove swap do /etc/fstab
      mount:
        name: "{{ item }}"
        fstype: swap
        state: absent
      loop:
        - swap
        - none

    - name: Desativa swap
      command: swapoff -a
      when: ansible_swaptotal_mb > 0

    - name: Configura containerd
      block:
        - name: Cria arquivo containerd.conf
          file:
            path: /etc/modules-load.d/containerd.conf
            state: touch

        - name: Configura módulos containerd
          lineinfile:
            path: /etc/modules-load.d/containerd.conf
            line: "{{ item }}"
          loop: "{{ containerd_modules }}"

        - name: Carrega módulos
          shell: modprobe overlay && modprobe br_netfilter

    - name: Configura sysctl para Kubernetes
      block:
        - name: Cria arquivo dkubernetes.conf
          file:
            path: /etc/sysctl.d/kubernetes.conf
            state: touch

        - name: Adiciona parâmetros sysctl
          lineinfile:
            path: /etc/sysctl.d/kubernetes.conf
            line: "{{ item }}"
          loop: "{{ sysctl_params }}"

        - name: Aplica sysctl
          command: sysctl --system

    - name: Cria usuário suporte
      user:
        name: suporte
        shell: /bin/bash
        password: $1$QbUARykG$p2nthVG8AkDvabKPHwboa1

    - name: Instala pacotes básicos
      apt:
        name: "{{ common_packages }}"
        state: present
        update_cache: yes

    - name: Clona repositório do curso
      git:
        repo: 'https://github.com/alissonoliveira0607/541-kubernetes.git'
        dest: /home/suporte/541
        force: yes
        update: yes
      

    - name: Configura Docker
      block:
        - name: Adiciona chave Docker
          apt_key:
            url: https://download.docker.com/linux/ubuntu/gpg
            state: present

        - name: Adiciona repositório Docker
          apt_repository:
            repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable
            state: present

        - name: Instala containerd
          apt:
            name: containerd.io
            state: present
            update_cache: yes

        - name: Cria config default containerd
          shell: containerd config default | tee /etc/containerd/config.toml >/dev/null 2>&1
          args:
            creates: /etc/containerd/config.toml
          notify: "Reinicia containerd"

        - name: Ativa SystemdCgroup
          replace:
            path: /etc/containerd/config.toml
            regexp: 'SystemdCgroup = false'
            replace: 'SystemdCgroup = true'
          notify: "Reinicia containerd"

        - name: Habilita plugins containerd
          replace:
            path: /etc/containerd/config.toml
            regexp: '^disabled_plugins ='
            replace: '#disabled_plugins ='
          notify: "Reinicia containerd"

    - name: Cria diretório keyrings apt
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Baixa e configura chave Kubernetes
      block:
        - name: Baixar chave GPG do Kubernetes
          get_url:
            url: https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key
            dest: /tmp/kubernetes-apt-key.gpg
            mode: '0644'

        - name: Criar keyring apt do Kubernetes
          command: >
            gpg --batch --yes --dearmor
            -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
            /tmp/kubernetes-apt-key.gpg
          args:
            creates: /etc/apt/keyrings/kubernetes-apt-keyring.gpg

        - name: Adicionar repositório Kubernetes
          copy:
            dest: /etc/apt/sources.list.d/kubernetes.list
            content: 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /'
            mode: '0644'

        - name: Atualizar cache apt
          apt:
            update_cache: yes

    - name: Instala Kubernetes
      apt:
        name:
          - kubelet
          - kubeadm
          - kubectl
        state: present

    - name: Travar versões kubelet/kubeadm/kubectl
      command: apt-mark hold kubelet kubeadm kubectl

    - name: Inicializa cluster Kubernetes
      shell: kubeadm init --apiserver-advertise-address=172.16.1.100 --pod-network-cidr=192.168.0.0/16 --ignore-preflight-errors=all > /opt/init_cluster
      args:
        creates: /opt/init_cluster

    - name: Configura kubeconfig para root, vagrant e suporte
      block:
        - name: Cria diretório .kube
          file:
            path: "/home/{{ item }}/.kube" 
            state: directory
            owner: "{{ item }}"
            group: "{{ item }}"
            mode: '0755'
          loop:
            - root
            - vagrant
            - suporte

        - name: Copia admin.conf para .kube/config
          copy:
            src: /etc/kubernetes/admin.conf
            dest: "/home/{{ item }}/.kube/config"
            remote_src: yes
            owner: "{{ item }}"
            group: "{{ item }}"
            mode: '0644'
          loop:
            - root
            - vagrant
            - suporte

    - name: Instala Calico
      block:
        - name: Copia arquivos Calico
          copy:
            src: files/tigera-operator.yaml
            dest: /home/vagrant/tigera-operator.yaml
            owner: vagrant
            group: vagrant
            mode: 0644

        - copy:
            src: files/custom-resources.yaml
            dest: /home/vagrant/custom-resources.yaml
            owner: vagrant
            group: vagrant
            mode: 0644

        - name: Aplica tigera-operator.yaml
          become_user: vagrant
          command: kubectl apply -f /home/vagrant/tigera-operator.yaml
          environment:
            KUBECONFIG: /home/vagrant/.kube/config

        - name: Aguarda tigera-operator Available
          become_user: vagrant
          command: kubectl -n tigera-operator wait --for=condition=Available --timeout=180s deployment/tigera-operator
          register: wait_operator
          changed_when: false
          failed_when: wait_operator.rc != 0
          environment:
            KUBECONFIG: /home/vagrant/.kube/config

        - name: Aguarda CRDs do Tigera ficarem Established
          become_user: vagrant
          loop:
            - installations.operator.tigera.io
            - apiservers.operator.tigera.io
            - goldmanes.operator.tigera.io
            - whiskers.operator.tigera.io
          loop_control:
            loop_var: crd
            label: "{{ crd }}"
          command: kubectl wait --for=condition=Established --timeout=180s crd/{{ crd }}
          register: wait_crds
          until: wait_crds.rc == 0
          retries: 10
          delay: 6
          changed_when: false
          environment:
            KUBECONFIG: /home/vagrant/.kube/config

        - name: Aplica custom-resources.yaml
          become_user: vagrant
          command: kubectl apply -f /home/vagrant/custom-resources.yaml
          environment:
            KUBECONFIG: /home/vagrant/.kube/config

    - name: Permite que master execute Pods como Worker
      become_user: vagrant
      command: kubectl taint nodes kube-master node-role.kubernetes.io/control-plane-
      environment:
        KUBECONFIG: /home/vagrant/.kube/config

    - name: Gera comando de join para novos nodes
      command: kubeadm token create --print-join-command
      register: join_command

    - name: Salva join command localmente
      local_action: copy content="{{ join_command.stdout_lines[0] }}" dest="./join-command"

  handlers:
    - name: "Reinicia containerd"
      service:
        name: containerd
        state: restarted
